body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
 
}

.grid {
    width: 400px;
    height: 308px;
    border: solid black 1px;
    margin-top: 50px;
}
